<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>Spring Boot + JPA + Datatables</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script src="/js/datatable.js"></script>
</head>

<body>
	
	
	<div id="tabledata">
	<h1>Employees Table</h1>
	<table id="employeesTable" class="display">

  <input type="text" placeholder="Enter ID" id ="search" name="search">
  <button onclick="searchByValue()" >Search here</button>
  <button onclick="clearAll()" >Clear All</button>
  <button onclick="loadAll()" >LOAD All</button>

       <thead>
            <tr>
                <th>Id</th>
				<th>Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Active</th>
                <th>EDIT/DELETE</th>
            </tr>
        </thead>
        <!-- Footer Table -->
        <tfoot>
            <tr>
                <th>Id</th>
				<th>Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Active</th>
                <th>EDIT/DELETE</th>
            </tr>
        </tfoot>
    </table>
    
    </div>
    
    
    <div id="editForm" class="container">
		<h1>Edit Employee</h1>   
		<form action="saveEmployee" method="post" name="employeeForm">
		    <input type="hidden" id="id" name="id">
			<label for="name">First name:</label>
			<input type="text" id="name" name="name">
			<label for="lastName">Last name:</label>
			<input type="text" id="lastName" name="lastName"><br><br>
			<label for="email">Email:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="text" id="email" name="email"><br><br>
			<label for="phone">Phone No:</label>&nbsp;
			<input type="text" id="phone" name="phone">
		</form>

<button type="submit" form="form1" value="Submit" onclick="formSubmit()">Submit</button>
    
    </div>
    
</body>
</html>